.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}
.link {
    text-decoration: none;
  color: black;
}
.logo {
    display: flex;
    justify-content: start;
    width: 185px;
    height: 41px;
    margin-top: 5px;
}
.containerTextHeader {
    display: flex;
    flex-wrap: wrap;
}
.textHeader {
    margin-right: 75px;
    font-size: 16px;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 45px;
    margin-top: 15px;
}
.btnCart {
    background-image: url("/src/img/Header/ant-design_shopping-cart-outlined.svg");
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 15px;

}
.searchWrapper {
    position: relative;
}

.inputSearch {
    position: absolute;
    top: 30px;
    right: 80px;
    outline: #ccc;
    font-size: 20px;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: opacity 0.3s ease;
    width: 200px;
    height: 30px;
}